@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&family=Poppins:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

--Poppins
{
    font-family: 'Poppins', sans-serif;
}

--RobotoMedium
{
	font-family: 'Roboto', sans-serif;
}

.img_Main{
    width: 75px;
    height: 75px;
}





*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

body{
	height: 100vh;
	width: 100%;
}

.mid{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.mid:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("images/") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}


html{
    scroll-behavior: smooth;
}

.reveal
{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}


.reveal.active
{
    transform: translateY(0px);
    opacity: 1;
}



.about{
	width: 100%;
	padding: 78px 0px;
	background-color: #191919;
}

.about img
{
	height: auto;
	width: 420px;
}

.about-text
{
	width: 550px;
}

.main
{
	width: 1130px;
	max-width: 95%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.about-text h1
{
	color: white;
	font-size: 80px;
	text-transform: capitalize;
	margin-bottom: 20px;
	font-family: var(--Poppins);
}

.about-text h5
{
	color: rgb(255, 105, 105);
	font-size: 25px;
	text-transform: capitalize;
	margin-bottom: 20px;
	font-family: var(--Poppins);
	margin-left: 25px;
	margin-top: -35px;
}

.about-text p
{
	color: white;
}

#ContactMe
{
	color: white;
}

#btnContact
{
	background-color: rgb(250, 255, 255);
	border-radius: 20px;
	font-size: 20px;
	width: 230px;
	height: 35px;
	padding: 2px;
	font-family: var(--RobotoMedium);
}

#searchInput
{
	opacity: 0;
	border: solid 1px black;
	transition: opacity 2s;
}



#search, #search2nd{
    width: 25px;
    height: 25px;
	transition: opacity 1.3s;
}

#search2nd
{
	opacity: 0;
}